hostname=${name}
primarynameserver=${primarynameserver}
dnsdomain=${dnsdomain}
ntpserver=${ntpserver}
timezone=${timezone}
password=${password}
ersapi=${ersapi}
openapi=${openapi}
pxGrid=${pxGrid}
pxgrid_cloud=${pxgrid_cloud}